.hidden{
    @media only screen and (max-width:767px){
        &-xs-only{
            display: none;
        }
    }
    @media only screen and (min-width:768px) and (max-width:991px){
        &-sm-only{
            display: none;
        }
    }
    @media only screen and (min-width:768px){
        &-sm-and-down{
            display: none;
        }
    }
    @media only screen and (max-width:991px){
        &-sm-and-up{
            display: none;
        }
    }
    @media only screen and (min-width:992px) and (max-width:1200px - 1){
        &-md-only{
            display: none;
        }
    }
    @media only screen and (min-width:992px){
        &-md-and-down{
            display: none;
        }
    }
    @media only screen and (max-width:1200px - 1){
        &-md-and-up{
            display: none;
        }
    }
    @media only screen and (min-width:1200px) and (max-width:1920px - 1){
        &-lg-only{
            display: none;
        }
    }
    @media only screen and (min-width:1200px){
        &-lg-and-down{
            display: none;
        }
    }
    @media only screen and (max-width:1920px - 1){
        &-lg-and-up{
            display: none;
        }
    }
    @media only screen and (min-width:1920px){
        &-xl-only{
            display: none;
        }
    }
}